asgiref==3.3.4
attrs==21.2.0
autobahn==21.3.1
Automat==20.2.0
Babel==2.9.1
certifi==2021.10.8
cffi==1.14.5
channels==3.0.3
charset-normalizer==2.0.7
click==7.1.2
constantly==15.1.0
cryptography==3.4.7
daphne==3.0.2
Deprecated==1.2.13
dj-database-url==0.5.0
Django==3.2.3
django-cors-headers==3.10.0
django-crispy-forms==1.11.2
django-filter==21.1
django-heroku==0.3.1
django-money==2.1
django-oauth-toolkit==1.5.0
djangorestframework==3.12.4
gunicorn==20.1.0
h11==0.12.0
httptools==0.1.2
hyperlink==21.0.0
idna==3.1
incremental==21.3.0
iniconfig==1.1.1
jwcrypto==1.0
Markdown==3.3.4
oauthlib==3.1.1
packaging==20.9
pluggy==0.13.1
psycopg2==2.9.1
psycopg2-binary==2.8.6
py==1.10.0
py-moneyed==1.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
PyHamcrest==2.0.2
pyOpenSSL==20.0.1
pyparsing==2.4.7
pytest==6.2.4
pytest-django==4.2.0
python-dotenv==0.17.1
pytz==2021.1
PyYAML==5.4.1
requests==2.26.0
service-identity==21.1.0
six==1.16.0
sqlparse==0.4.1
toml==0.10.2
-e git+https://github.com/hotwire-django/turbo-django@b04a3eef185101e6954fd1ae83815d8cb87b4f40#egg=turbo_django
Twisted==20.3.0
txaio==21.2.1
uritemplate==4.1.1
urllib3==1.26.7
uvicorn==0.13.4
uvloop==0.15.2
watchgod==0.7
webpack-tools==0.2.0
websockets==8.1
whitenoise==5.2.0
wrapt==1.13.2
zope.interface==5.4.0
