<ion-item-sliding>
  <ion-item (click)="clck()">
    <ion-label>
      {{item.description}}
      <p>{{item.last_checkout ? (item.last_checkout | date:'mediumDate') : (item.last_line_item_date | date:'mediumDate')}} {{item.last_line_item_store}}</p>
    </ion-label>
    <ng-content></ng-content>
    <ion-badge *ngIf="item.last_line_item_total">
      {{item.last_line_item_total | currency:'EUR':true }}
    </ion-badge>
  </ion-item>
  <ion-item-options side="start">
    <ion-item-option (click)="del()" (ionSwipe)="del()" expandable>
      <ion-icon slot="top" name="trash"></ion-icon>
      Delete
    </ion-item-option>
  </ion-item-options>
</ion-item-sliding>