<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <p><strong class="capitalize">Login</strong></p>

    <form (ngSubmit)="login()">
      <ion-input type="text" placeholder="Username" name="username" [(ngModel)]="username"></ion-input>
      <ion-input type="password" placeholder="Password" name="password" (keyup.enter)="login()" [(ngModel)]="password"></ion-input>

      <ion-button type="submit">Login</ion-button>
      <ion-button (click)="logout()">Logout</ion-button>
    </form>
    

  </div>
</ion-content>
