<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Trip</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list *ngIf="trip">
    <ion-list-header>Shopping Trip</ion-list-header>

    <ion-item *ngIf="id">
      <ion-label position="fixed">Name</ion-label>
      <ion-label ion-content>{{trip.label}}</ion-label>
    </ion-item>

    <ion-item *ngIf="id">
      <ion-label position="floating">Notes</ion-label>
      <ion-input type="text" [(ngModel)]="trip.notes"></ion-input>
    </ion-item>

    <!-- TODO select store and list -->

    <ion-button expand="block" *ngIf="id" (click)="save()">Save</ion-button>

    <ion-item>
      <ion-label>Upload receipt here</ion-label>
      <input type="file" accept="image/*;capture=camera" (change)="addReceiptImage($event)" />
    </ion-item>
    
    <app-receipt [receipt]="receipt"></app-receipt>
   
  </ion-list>

</ion-content>

<ion-footer>
  <!-- <ion-toolbar>
    <a (click)="addReceiptData()">Test receipt</a>
  </ion-toolbar> -->
</ion-footer>
