<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Trip</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list *ngIf="trip">
    <ion-list-header>Edit trip</ion-list-header>

    <ion-item *ngIf="id">
      <ion-label position="fixed">Name</ion-label>
      <ion-label ion-content>{{trip.label}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Notes</ion-label>
      <ion-input type="text" [(ngModel)]="trip.notes"></ion-input>
    </ion-item>

    <!-- TODO select store and list -->

    <ion-button expand="block" (click)="save()">Save</ion-button>

    <ion-button expand="block" color="secondary" fill="outline" (click)="addReceiptData()">Test receipt</ion-button>

    <input type="file" (change)="addReceiptImage($event)" />

    <app-receipt [receipt]="receipt"></app-receipt>
  </ion-list>

</ion-content>
