<ion-header>
  <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
  </ion-buttons>
  <ion-toolbar>
    <ion-title>
      {{name}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-searchbar placeholder="Search or add" (ionChange)="search($event)" showClearButton="always" (ionClear)="clear()"></ion-searchbar>

  <ion-list *ngIf="searchActive && searchItem">
    <ion-list-header color="secondary">
      Add new item
    </ion-list-header>
    <app-listitem [item]="searchItem">
      <ion-button slot="end" fill="clear" (click)="create(searchItem)">
        <ion-icon name="add" slot="icon-only" color="secondary"></ion-icon>
      </ion-button>
    </app-listitem>
  </ion-list>

  <ion-list *ngIf="listItems.length > 0">
    <ion-list-header color="primary">
      On List
    </ion-list-header>
    <!-- Item click only opens details in add mode because it will conflickt with checkbox in buy mode -->
    <app-listitem *ngFor="let item of listItems" [item]="item" (delete)="removeFromList($event)" (itemClick)="mode === 'add' ? openDetail($event.catalog_item) : undefined">
      <!-- Checkbox for editmode -->
      <ion-checkbox slot="end" *ngIf="mode === 'buy'" (ionChange)="check(item)"></ion-checkbox>
      <!-- Details for editmode -->
      <ion-button slot="start" fill="clear" *ngIf="mode === 'buy'" color="secondary" (click)="openDetail(item.catalog_item)">
        <ion-icon slot="icon-only" name="information-circle-outline"></ion-icon>
      </ion-button>
    </app-listitem>
  </ion-list>

  <ion-list *ngIf="searchActive && notListItems.length > 0">
    <ion-list-header color="danger">
      Previously on list
    </ion-list-header>
    <app-listitem *ngFor="let item of notListItems" [item]="item">
      <ion-button slot="end" fill="clear" (click)="add(item)">
        <ion-icon name="add" slot="end"></ion-icon>
        Add
      </ion-button>

      <!-- Details for add -->
      <ion-button slot="start" fill="clear" color="secondary" (click)="openDetail(item.catalog_item)">
        <ion-icon slot="icon-only" name="information-circle-outline"></ion-icon>
      </ion-button>
    </app-listitem>
  </ion-list>

  <ion-list *ngIf="searchActive && catalogItems.length > 0">
    <ion-list-header color="danger">
      From catalog
    </ion-list-header>
    <app-listitem *ngFor="let item of catalogItems" [item]="item">
      <ion-button slot="end" fill="clear" (click)="addFromCatalog(item)">
        <ion-icon name="add" slot="end"></ion-icon>
        Add
      </ion-button>

      <!-- Details for add -->
      <ion-button slot="start" fill="clear" color="secondary" (click)="openDetail(item.id)">
        <ion-icon slot="icon-only" name="information-circle-outline"></ion-icon>
      </ion-button>
    </app-listitem>
  </ion-list>

</ion-content>

<ion-footer>
  <ion-toolbar color="primary" *ngIf="mode === 'add'" (click)="startShopping()">
    <ion-title>
      <b>Click here to start shopping</b>
    </ion-title>
  </ion-toolbar>

  <ion-toolbar color="primary" *ngIf="mode === 'buy' && trip">
    <ion-title>
      {{trip.label}} <cd-timer format="hms"></cd-timer> &nbsp;
    </ion-title>
    <ion-button slot="end" color="danger" (click)="stopShopping()">
      <ion-icon name="wallet" slot="end"></ion-icon>
      Done
    </ion-button>
  </ion-toolbar>
</ion-footer>
