{% load turbo_streams %}


<turbo-frame id="check-item">
    <ion-item id="{% stream_id item %}" data-buy="{{ item.buy }}" data-list-target="item" data-text="{{ item.text }}">
        <ion-badge slot="start" color="{{ item.buy|yesno:"danger,success" }}">
            {{ item.current_count }}
        </ion-badge>
        <ion-label>
            {{ item.text }}
            <p>{{ item.note }}</p>
        </ion-label>
        <a slot="end" href="{% url 'check' item.pk %}">
            <ion-icon name="checkmark"></ion-icon>
        </a>
    </ion-item>
</turbo-frame>
