{% load static %}
{% load turbo_streams %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>List Detail</title>
    <style>
        textarea {
            width: 200px;
            height: 2rem;
        }
    </style>
    {% include "turbo/head.html" %}
    {% include 'framework/ionic-import.html' %}

    <script src="https://unpkg.com/stimulus@2.0.0/dist/stimulus.umd.js"></script>
    <script src="{% static 'js/application.js' %}"></script>
</head>

<body>
    <ion-app>
        <ion-header>
            <ion-toolbar>
                <ion-buttons slot="start">
                    <ion-back-button defaultHref="/"></ion-back-button>
                </ion-buttons>
                <ion-title>
                    <a href="/">ShoppingList</a>
                </ion-title>
            </ion-toolbar>
        </ion-header>


        <ion-content>
            <turbo-frame id="update-list">
                {% include 'list/list.html' %}
                <a href="{% url 'update' list.pk %}">Edit</a>
            </turbo-frame>
            
            {% turbo_stream_from list %}
            {% turbo_stream_from 'broadcasts' %}

            {% include "list/items_list.html" %}

            <turbo-frame id="send-item" src="{% url 'send' list.id %}">
            </turbo-frame>
        </ion-content>
    </ion-app>
</body>

</html>