<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shopping Lists</title>
    {% include "turbo/head.html" %}

    {% include 'framework/ionic-import.html' %}
</head>
<body>
<ion-app>
    <ion-header>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button defaultHref="/"></ion-back-button>
            </ion-buttons>
            <ion-title>
                <a href="/">ShoppingList</a>
            </ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content text-center>
        {% if lists %}
        <ion-list>
        {% for list in lists %}
            <ion-item href="{% url 'detail' list.id %}">{{ list.name }}</ion-item>
        {% endfor %}
        </ion-list>
        {% else %}
            <p>No lists available.</p>
        {% endif %}
    </ion-content>
</ion-app>
</body>
</html>
